name: Tests
on:
  pull_request:
  push:
    branches:
      - main
concurrency:
  group: ci-tests-${{ github.head_ref || github.ref }}-${{ github.repository }}
  cancel-in-progress: true

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Install test deps
        run: sudo apt-get update && sudo apt-get install -y atftp
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: Run tests
        env:
          CGO_ENABLED: 1
        run: |
          go install github.com/jstemmer/go-junit-report/v2@latest
          go test -v -coverprofile=coverage.out ./... | go-junit-report > junit.xml
      - name: Codecov
        uses: codecov/codecov-action@v4
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        with:
          file: ./coverage.out
      - name: Upload test results to Codecov
        uses: codecov/test-results-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}